@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Taller de Proyecto 3</h1>
    <p class="lead">Módulo Actualizar Cliente y Paciente</p>
    <><img src="~/images/profile/logo-petcenter.png"/></p>
</div>
