body
{    
    background-image:url("/Content/images/sliderpet7-77.png");
    background-repeat: no-repeat;
    background-position: 85% 45px ;
    /*
    background-color:lightgray;
    background-repeat: no-repeat;
    background-attachment: fixed;

    background-position: center; 
    background-color:#004566;

    */
    font-family: Candara; 
    font-size: 14px;
}

p
{
    font-size: 18px;
    font-family: Candara;
    color:White;
}

hr
{
    border-color: #428BCA;
}

.sig-message
{
    width:340px;   
    text-align:center;   
}

.sig-content
{
    background-image:url("/Content/images/bg-sig-form.png");
    background-repeat: no-repeat;
    background-position: 50% 1px ;
}

.sig-text
{
    border-color: #00773F;
    font-family: Candara; 
    color:Black;       
}

.sig-width
{
    width:340px;        
}

.sig-buttom:hover
{
    /*background-image:url("/Content/images/bg-yellow.png");*/
    background-color:#428BCA;
    text-shadow: 1px 1px 3px #666666;
    color: #ffffff;
    font-size: 14px;
    padding: 7px 20px 7px 20px;
    text-decoration: none;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 5px #EFFFBF;
    -moz-box-shadow: 0px 0px 5px #EFFFBF;
    box-shadow:box-shadow: 0px 0px 5px #EFFFBF;    
}

.sig-buttom
{    
    /*background-image:url("/Content/images/bg-green.png");*/
    background-color:#585858;
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    text-shadow: 1px 1px 3px #666666;
    color: #ffffff;
    font-size: 14px;
    padding: 7px 20px 7px 20px;
    text-decoration: none; 
    cursor: pointer;
}

.sig-title
{
    font-weight:bold;
}

.hide
{
    display:none;
}

.visible
{
    display:block;
}

.modal-loading {
    display:    none;
    overflow:   hidden; 
    position:   fixed;
    z-index:    9999;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('/Content/images/gears.gif') 
                50% 50% 
                no-repeat;
}


