<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="exceptionManagement" type="PetCenter.ExceptionManagement.ExceptionManagerSectionHandler,PetCenter.ExceptionManagement"/>
    <sectionGroup name="Flesk.NET">
      <section name="HttpCompression" type="Flesk.Accelerator.HttpCompression.ConfigHandler, Flesk.Accelerator"/>
      <section name="ViewStateOptimizer" type="Flesk.Accelerator.Viewstate.ConfigHandler, Flesk.ViewState"/>
    </sectionGroup>
  </configSections>
  <!--     -->
  <exceptionManagement mode="on">
    <publisher assembly="PetCenter.ExceptionManagement" type="PetCenter.ExceptionManagement.ExceptionXMLPublisher" exclude="*" include="*" exceptionFormat="xml" fileName="D:\PetCenter_LOG.xml"/>
    <!--     -->
  </exceptionManagement>
  <connectionStrings>
    <!--<add name="ApplicationServices"  connectionString="Data Source=PEDW7LIM017; Database=DBALMACEN;User ID=DMARQUEZ;password=210401"/>-->

    <!--<add name="VeterinariaConnectionString" connectionString="Data Source=ws-mchaulap\mssqlserver2012;Initial Catalog=BDPetCenter;User ID=sa;Password=Marchd6773"
      providerName="System.Data.SqlClient" />-->
    
     <add name="VeterinariaConnectionString" connectionString="Data Source=tcp:dansoft.database.windows.net;Initial Catalog=BDPetCenter;Persist Security Info=False;User ID=PetCenter;Password=*Veterinaria*;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30"
      providerName="System.Data.SqlClient" />
    
     

  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <pages theme="Principal" styleSheetTheme="Principal" validateRequest="false">
      <controls>
        <add tagPrefix="cc1" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
    </pages>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
  </system.web>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
