<div style='display: none'>
    <div class="content_modaljqgrid" id="divContentMainClientecbx">
        <div class="item_form">
            <h2>Listado de Clientes</h2>
        </div>
        <div class="grilla_custom">
            <table id="listClientecbx"></table>
            <div id="pagerClientecbx"></div>
        </div>
    </div>
</div>